tests/support/adwords_campaignservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="https://adwords.google.com/api/adwords/v12" 
   xmlns:impl="https://adwords.google.com/api/adwords/v12" 
   xmlns:intf="https://adwords.google.com/api/adwords/v12" 
   xmlns:apachesoap="http://xml.apache.org/xml-soap" 
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
>
  <wsdl:types>
    <schema elementFormDefault="qualified" 
            targetNamespace="https://adwords.google.com/api/adwords/v12" 
            xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="AdSchedule" >
        <sequence>
          <element name="intervals" maxOccurs="unbounded" type="impl:SchedulingInterval" />
          <element name="status" type="impl:AdScheduleStatus" />
        </sequence>
      </complexType>

      <simpleType name="AdScheduleStatus" >
        <restriction base="xsd:string">
          <enumeration value="Disabled"/>
          <enumeration value="Enabled"/>
        </restriction>
      </simpleType>

      <complexType name="ApiError" >
        <sequence>
          <element name="code" type="xsd:int" />
          <element name="detail" type="xsd:string" />
          <element name="field" minOccurs="0" type="xsd:string" />
          <element name="index" type="xsd:int" />
          <element name="isExemptable" type="xsd:boolean" />
          <element name="textIndex" minOccurs="0" type="xsd:int" />
          <element name="textLength" minOccurs="0" type="xsd:int" />
          <element name="trigger" minOccurs="0" type="xsd:string" />
        </sequence>
      </complexType>

      <complexType name="ApiException" >
        <sequence>
          <element name="code" type="xsd:int" />
          <element name="errors" nillable="true" maxOccurs="unbounded" type="impl:ApiError" />
          <element name="internal" type="xsd:boolean" />
          <element name="message" nillable="true" type="xsd:string" />
          <element name="trigger" nillable="true" type="xsd:string" />
        </sequence>
      </complexType>

      <complexType name="BudgetOptimizerSettings" >
        <sequence>
          <element name="bidCeiling" nillable="true" minOccurs="0" type="xsd:long" />
          <element name="enabled" nillable="true" minOccurs="0" type="xsd:boolean" />
          <element name="takeOnOptimizedBids" nillable="true" minOccurs="0" type="xsd:boolean" />
        </sequence>
      </complexType>

      <simpleType name="BudgetPeriod" >
        <restriction base="xsd:string">
          <enumeration value="Daily"/>
          <enumeration value="Monthly"/>
        </restriction>
      </simpleType>

      <complexType name="Campaign" >
        <sequence>
          <element name="budgetAmount" minOccurs="0" type="xsd:long" />
          <element name="budgetOptimizerSettings" nillable="true" type="impl:BudgetOptimizerSettings" />
          <element name="budgetPeriod" minOccurs="0" type="impl:BudgetPeriod" />
          <element name="contentTargeting" nillable="true" type="impl:ContentTargeting" />
          <element name="conversionOptimizerSettings" minOccurs="0" type="impl:ConversionOptimizerSettings" />
          <element name="enableSeparateContentBids" nillable="true" type="xsd:boolean" />
          <element name="endDay" nillable="true" minOccurs="0" type="xsd:date" />
          <element name="geoTargeting" nillable="true" type="impl:GeoTarget" />
          <element name="id" type="xsd:int" />
          <element name="languageTargeting" nillable="true" type="impl:LanguageTarget" />
          <element name="name" nillable="true" type="xsd:string" />
          <element name="networkTargeting" nillable="true" type="impl:NetworkTarget" />
          <element name="schedule" nillable="true" type="impl:AdSchedule" />
          <element name="startDay" nillable="true" minOccurs="0" type="xsd:date" />
          <element name="status" nillable="true" type="impl:CampaignStatus" />
        </sequence>
      </complexType>

      <simpleType name="CampaignStatus" >
        <restriction base="xsd:string">
          <enumeration value="Active"/>
          <enumeration value="Pending"/>
          <enumeration value="Ended"/>
          <enumeration value="Paused"/>
          <enumeration value="Deleted"/>
          <enumeration value="Suspended"/>
        </restriction>
      </simpleType>

      <complexType name="Circle" >
        <sequence>
          <element name="latitudeMicroDegrees" type="xsd:int" />
          <element name="longitudeMicroDegrees" type="xsd:int" />
          <element name="radiusMeters" type="xsd:int" />
        </sequence>
      </complexType>

      <complexType name="CityTargets" >
        <sequence>
          <element name="cities" minOccurs="0" maxOccurs="unbounded" type="xsd:string" />
        </sequence>
      </complexType>

      <simpleType name="ContentTargeting" >
        <restriction base="xsd:string">
          <enumeration value="AllPlacements"/>
          <enumeration value="SelectedPlacements"/>
        </restriction>
      </simpleType>

      <complexType name="ConversionOptimizerEligibility" >
        <sequence>
          <element name="campaignId" type="xsd:int" />
          <element name="eligibleToSwitchOn" minOccurs="0" type="xsd:boolean" />
        </sequence>
      </complexType>

      <complexType name="ConversionOptimizerSettings" >
        <sequence>
          <element name="enabled" minOccurs="0" type="xsd:boolean" />
          <element name="maxCpaBidForAllAdGroups" minOccurs="0" type="xsd:long" />
        </sequence>
      </complexType>

      <complexType name="CountryTargets" >
        <sequence>
          <element name="countries" minOccurs="0" maxOccurs="unbounded" type="xsd:string" />
        </sequence>
      </complexType>

      <simpleType name="DayOfWeek" >
        <restriction base="xsd:string">
          <enumeration value="Monday"/>
          <enumeration value="Tuesday"/>
          <enumeration value="Wednesday"/>
          <enumeration value="Thursday"/>
          <enumeration value="Friday"/>
          <enumeration value="Saturday"/>
          <enumeration value="Sunday"/>
        </restriction>
      </simpleType>

      <complexType name="GeoTarget" >
        <sequence>
          <element name="cityTargets" minOccurs="0" type="impl:CityTargets" />
          <element name="countryTargets" minOccurs="0" type="impl:CountryTargets" />
          <element name="metroTargets" minOccurs="0" type="impl:MetroTargets" />
          <element name="proximityTargets" minOccurs="0" type="impl:ProximityTargets" />
          <element name="regionTargets" minOccurs="0" type="impl:RegionTargets" />
          <element name="targetAll" type="xsd:boolean" />
        </sequence>
      </complexType>

      <complexType name="LanguageTarget" >
        <sequence>
          <element name="languages" nillable="true" maxOccurs="unbounded" type="xsd:string" />
        </sequence>
      </complexType>

      <complexType name="MetroTargets" >
        <sequence>
          <element name="metros" minOccurs="0" maxOccurs="unbounded" type="xsd:string" />
        </sequence>
      </complexType>

      <complexType name="NetworkTarget" >
        <sequence>
          <element name="networkTypes" minOccurs="0" maxOccurs="unbounded" type="impl:NetworkType" />
        </sequence>
      </complexType>

      <simpleType name="NetworkType" >
        <restriction base="xsd:string">
          <enumeration value="GoogleSearch"/>
          <enumeration value="SearchNetwork"/>
          <enumeration value="ContentNetwork"/>
        </restriction>
      </simpleType>

      <complexType name="ProximityTargets" >
        <sequence>
          <element name="circles" maxOccurs="unbounded" type="impl:Circle" />
        </sequence>
      </complexType>

      <complexType name="RegionTargets" >
        <sequence>
          <element name="regions" minOccurs="0" maxOccurs="unbounded" type="xsd:string" />
        </sequence>
      </complexType>

      <complexType name="SchedulingInterval" >
        <sequence>
          <element name="day" type="impl:DayOfWeek" />
          <element name="endHour" type="xsd:int" />
          <element name="endMinute" type="xsd:int" />
          <element name="multiplier" type="xsd:double" />
          <element name="startHour" type="xsd:int" />
          <element name="startMinute" type="xsd:int" />
        </sequence>
      </complexType>

      <complexType name="StatsRecord" >
        <sequence>
          <element name="averagePosition" type="xsd:double" />
          <element name="clicks" type="xsd:long" />
          <element name="conversionRate" type="xsd:double" />
          <element name="conversions" type="xsd:long" />
          <element name="cost" type="xsd:long" />
          <element name="id" type="xsd:long" />
          <element name="impressions" type="xsd:long" />
        </sequence>
      </complexType>

      <element name="addCampaign">
        <complexType>
          <sequence>
            <element name="campaign" type="impl:Campaign" />
          </sequence>
        </complexType>
      </element>

      <element name="addCampaignList">
        <complexType>
          <sequence>
            <element name="campaigns" maxOccurs="unbounded" type="impl:Campaign" />
          </sequence>
        </complexType>
      </element>

      <element name="addCampaignListResponse">
        <complexType>
          <sequence>
            <element name="addCampaignListReturn" maxOccurs="unbounded" type="impl:Campaign" />
          </sequence>
        </complexType>
      </element>

      <element name="addCampaignResponse">
        <complexType>
          <sequence>
            <element name="addCampaignReturn" type="impl:Campaign" />
          </sequence>
        </complexType>
      </element>

      <element name="applicationToken">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="clientCustomerId">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="clientEmail">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="developerToken">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="email">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="fault" type="impl:ApiException" />

      <element name="getAllAdWordsCampaigns">
        <complexType>
          <sequence>
            <element name="dummy" type="xsd:int" />
          </sequence>
        </complexType>
      </element>

      <element name="getAllAdWordsCampaignsResponse">
        <complexType>
          <sequence>
            <element name="getAllAdWordsCampaignsReturn" maxOccurs="unbounded" type="impl:Campaign" />
          </sequence>
        </complexType>
      </element>

      <element name="getCampaign">
        <complexType>
          <sequence>
            <element name="id" type="xsd:int" />
          </sequence>
        </complexType>
      </element>

      <element name="getCampaignList">
        <complexType>
          <sequence>
            <element name="ids" maxOccurs="unbounded" type="xsd:int" />
          </sequence>
        </complexType>
      </element>

      <element name="getCampaignListResponse">
        <complexType>
          <sequence>
            <element name="getCampaignListReturn" maxOccurs="unbounded" type="impl:Campaign" />
          </sequence>
        </complexType>
      </element>

      <element name="getCampaignResponse">
        <complexType>
          <sequence>
            <element name="getCampaignReturn" type="impl:Campaign" />
          </sequence>
        </complexType>
      </element>

      <element name="getCampaignStats">
        <complexType>
          <sequence>
            <element name="campaignIds" maxOccurs="unbounded" type="xsd:int" />
            <element name="startDay" type="xsd:date" />
            <element name="endDay" type="xsd:date" />
          </sequence>
        </complexType>
      </element>

      <element name="getCampaignStatsResponse">
        <complexType>
          <sequence>
            <element name="getCampaignStatsReturn" maxOccurs="unbounded" type="impl:StatsRecord" />
          </sequence>
        </complexType>
      </element>

      <element name="getConversionOptimizerEligibility">
        <complexType>
          <sequence>
            <element name="campaignIds" maxOccurs="unbounded" type="xsd:int" />
          </sequence>
        </complexType>
      </element>

      <element name="getConversionOptimizerEligibilityResponse">
        <complexType>
          <sequence>
            <element name="getConversionOptimizerEligibilityReturn" maxOccurs="unbounded" type="impl:ConversionOptimizerEligibility" />
          </sequence>
        </complexType>
      </element>

      <element name="getOptimizeAdServing">
        <complexType>
          <sequence>
            <element name="campaignId" type="xsd:int" />
          </sequence>
        </complexType>
      </element>

      <element name="getOptimizeAdServingResponse">
        <complexType>
          <sequence>
            <element name="getOptimizeAdServingReturn" type="xsd:boolean" />
          </sequence>
        </complexType>
      </element>

      <element name="operations">
        <simpleType>
          <restriction base="xsd:long" />
        </simpleType>
      </element>

      <element name="password">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="requestId">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="responseTime">
        <simpleType>
          <restriction base="xsd:long" />
        </simpleType>
      </element>

      <element name="setOptimizeAdServing">
        <complexType>
          <sequence>
            <element name="campaignId" type="xsd:int" />
            <element name="enable" type="xsd:boolean" />
          </sequence>
        </complexType>
      </element>

      <element name="setOptimizeAdServingResponse">
        <complexType/>
      </element>

      <element name="units">
        <simpleType>
          <restriction base="xsd:long" />
        </simpleType>
      </element>

      <element name="updateCampaign">
        <complexType>
          <sequence>
            <element name="campaign" type="impl:Campaign" />
          </sequence>
        </complexType>
      </element>

      <element name="updateCampaignList">
        <complexType>
          <sequence>
            <element name="campaigns" maxOccurs="unbounded" type="impl:Campaign" />
          </sequence>
        </complexType>
      </element>

      <element name="updateCampaignListResponse">
        <complexType/>
      </element>

      <element name="updateCampaignResponse">
        <complexType/>
      </element>

      <element name="useragent">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

    </schema>
  </wsdl:types>

  <wsdl:message name="ApiException">
    <wsdl:part element="impl:fault" name="fault"/>
  </wsdl:message>

  <wsdl:message name="addCampaignListRequest">
    <wsdl:part element="impl:addCampaignList" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="addCampaignListResponse">
    <wsdl:part element="impl:addCampaignListResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="addCampaignRequest">
    <wsdl:part element="impl:addCampaign" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="addCampaignResponse">
    <wsdl:part element="impl:addCampaignResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="applicationToken">
    <wsdl:part element="impl:applicationToken" name="applicationToken"/>
  </wsdl:message>

  <wsdl:message name="clientCustomerId">
    <wsdl:part element="impl:clientCustomerId" name="clientCustomerId"/>
  </wsdl:message>

  <wsdl:message name="clientEmail">
    <wsdl:part element="impl:clientEmail" name="clientEmail"/>
  </wsdl:message>

  <wsdl:message name="developerToken">
    <wsdl:part element="impl:developerToken" name="developerToken"/>
  </wsdl:message>

  <wsdl:message name="email">
    <wsdl:part element="impl:email" name="email"/>
  </wsdl:message>

  <wsdl:message name="getAllAdWordsCampaignsRequest">
    <wsdl:part element="impl:getAllAdWordsCampaigns" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getAllAdWordsCampaignsResponse">
    <wsdl:part element="impl:getAllAdWordsCampaignsResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getCampaignListRequest">
    <wsdl:part element="impl:getCampaignList" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getCampaignListResponse">
    <wsdl:part element="impl:getCampaignListResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getCampaignRequest">
    <wsdl:part element="impl:getCampaign" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getCampaignResponse">
    <wsdl:part element="impl:getCampaignResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getCampaignStatsRequest">
    <wsdl:part element="impl:getCampaignStats" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getCampaignStatsResponse">
    <wsdl:part element="impl:getCampaignStatsResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getConversionOptimizerEligibilityRequest">
    <wsdl:part element="impl:getConversionOptimizerEligibility" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getConversionOptimizerEligibilityResponse">
    <wsdl:part element="impl:getConversionOptimizerEligibilityResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getOptimizeAdServingRequest">
    <wsdl:part element="impl:getOptimizeAdServing" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="getOptimizeAdServingResponse">
    <wsdl:part element="impl:getOptimizeAdServingResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="operations">
    <wsdl:part element="impl:operations" name="operations"/>
  </wsdl:message>

  <wsdl:message name="password">
    <wsdl:part element="impl:password" name="password"/>
  </wsdl:message>

  <wsdl:message name="requestId">
    <wsdl:part element="impl:requestId" name="requestId"/>
  </wsdl:message>

  <wsdl:message name="responseTime">
    <wsdl:part element="impl:responseTime" name="responseTime"/>
  </wsdl:message>

  <wsdl:message name="setOptimizeAdServingRequest">
    <wsdl:part element="impl:setOptimizeAdServing" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="setOptimizeAdServingResponse">
    <wsdl:part element="impl:setOptimizeAdServingResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="units">
    <wsdl:part element="impl:units" name="units"/>
  </wsdl:message>

  <wsdl:message name="updateCampaignListRequest">
    <wsdl:part element="impl:updateCampaignList" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="updateCampaignListResponse">
    <wsdl:part element="impl:updateCampaignListResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="updateCampaignRequest">
    <wsdl:part element="impl:updateCampaign" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="updateCampaignResponse">
    <wsdl:part element="impl:updateCampaignResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="useragent">
    <wsdl:part element="impl:useragent" name="useragent"/>
  </wsdl:message>

  <wsdl:portType name="CampaignInterface">
    <wsdl:operation name="addCampaign">
      <wsdl:input  message="impl:addCampaignRequest" name="addCampaignRequest" />
      <wsdl:output message="impl:addCampaignResponse" name="addCampaignResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="addCampaignList">
      <wsdl:input  message="impl:addCampaignListRequest" name="addCampaignListRequest" />
      <wsdl:output message="impl:addCampaignListResponse" name="addCampaignListResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getAllAdWordsCampaigns">
      <wsdl:input  message="impl:getAllAdWordsCampaignsRequest" name="getAllAdWordsCampaignsRequest" />
      <wsdl:output message="impl:getAllAdWordsCampaignsResponse" name="getAllAdWordsCampaignsResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getCampaign">
      <wsdl:input  message="impl:getCampaignRequest" name="getCampaignRequest" />
      <wsdl:output message="impl:getCampaignResponse" name="getCampaignResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getCampaignList">
      <wsdl:input  message="impl:getCampaignListRequest" name="getCampaignListRequest" />
      <wsdl:output message="impl:getCampaignListResponse" name="getCampaignListResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getCampaignStats">
      <wsdl:input  message="impl:getCampaignStatsRequest" name="getCampaignStatsRequest" />
      <wsdl:output message="impl:getCampaignStatsResponse" name="getCampaignStatsResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getConversionOptimizerEligibility">
      <wsdl:input  message="impl:getConversionOptimizerEligibilityRequest" name="getConversionOptimizerEligibilityRequest" />
      <wsdl:output message="impl:getConversionOptimizerEligibilityResponse" name="getConversionOptimizerEligibilityResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="getOptimizeAdServing">
      <wsdl:input  message="impl:getOptimizeAdServingRequest" name="getOptimizeAdServingRequest" />
      <wsdl:output message="impl:getOptimizeAdServingResponse" name="getOptimizeAdServingResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="setOptimizeAdServing">
      <wsdl:input  message="impl:setOptimizeAdServingRequest" name="setOptimizeAdServingRequest" />
      <wsdl:output message="impl:setOptimizeAdServingResponse" name="setOptimizeAdServingResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="updateCampaign">
      <wsdl:input  message="impl:updateCampaignRequest" name="updateCampaignRequest" />
      <wsdl:output message="impl:updateCampaignResponse" name="updateCampaignResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="updateCampaignList">
      <wsdl:input  message="impl:updateCampaignListRequest" name="updateCampaignListRequest" />
      <wsdl:output message="impl:updateCampaignListResponse" name="updateCampaignListResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="CampaignServiceSoapBinding" type="impl:CampaignInterface">
  <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="addCampaign">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="addCampaignRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addCampaignResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="addCampaignList">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="addCampaignListRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addCampaignListResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getAllAdWordsCampaigns">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getAllAdWordsCampaignsRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllAdWordsCampaignsResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getCampaign">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getCampaignRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCampaignResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getCampaignList">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getCampaignListRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCampaignListResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getCampaignStats">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getCampaignStatsRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCampaignStatsResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getConversionOptimizerEligibility">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getConversionOptimizerEligibilityRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getConversionOptimizerEligibilityResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="getOptimizeAdServing">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getOptimizeAdServingRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getOptimizeAdServingResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="setOptimizeAdServing">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="setOptimizeAdServingRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setOptimizeAdServingResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="updateCampaign">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="updateCampaignRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateCampaignResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="updateCampaignList">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="updateCampaignListRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateCampaignListResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="CampaignService">
    <wsdl:port binding="impl:CampaignServiceSoapBinding" name="CampaignService">
      <wsdlsoap:address location="https://adwords.google.com/api/adwords/v12/CampaignService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
