tests/support/adwords_trafficestimatorservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="https://adwords.google.com/api/adwords/v13" 
   xmlns:impl="https://adwords.google.com/api/adwords/v13" 
   xmlns:intf="https://adwords.google.com/api/adwords/v13" 
   xmlns:apachesoap="http://xml.apache.org/xml-soap" 
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
>
  <wsdl:types>
    <schema elementFormDefault="qualified" 
            targetNamespace="https://adwords.google.com/api/adwords/v13" 
            xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="AdGroupEstimate" >
        <sequence>
          <element name="id" minOccurs="0" type="xsd:int" />
          <element name="keywordEstimates" maxOccurs="unbounded" type="impl:KeywordEstimate" />
        </sequence>
      </complexType>

      <complexType name="AdGroupRequest" >
        <sequence>
          <element name="id" nillable="true" minOccurs="0" type="xsd:long" />
          <element name="keywordRequests" maxOccurs="unbounded" type="impl:KeywordRequest" />
          <element name="maxCpc" minOccurs="0" type="xsd:long" />
        </sequence>
      </complexType>

      <complexType name="ApiError" >
        <sequence>
          <element name="code" type="xsd:int" />
          <element name="detail" type="xsd:string" />
          <element name="field" minOccurs="0" type="xsd:string" />
          <element name="index" type="xsd:int" />
          <element name="isExemptable" type="xsd:boolean" />
          <element name="textIndex" minOccurs="0" type="xsd:int" />
          <element name="textLength" minOccurs="0" type="xsd:int" />
          <element name="trigger" minOccurs="0" type="xsd:string" />
        </sequence>
      </complexType>

      <complexType name="ApiException" >
        <sequence>
          <element name="code" type="xsd:int" />
          <element name="errors" nillable="true" maxOccurs="unbounded" type="impl:ApiError" />
          <element name="internal" type="xsd:boolean" />
          <element name="message" nillable="true" type="xsd:string" />
          <element name="trigger" nillable="true" type="xsd:string" />
        </sequence>
      </complexType>

      <complexType name="CampaignEstimate" >
        <sequence>
          <element name="adGroupEstimates" maxOccurs="unbounded" type="impl:AdGroupEstimate" />
          <element name="id" minOccurs="0" type="xsd:int" />
        </sequence>
      </complexType>

      <complexType name="CampaignRequest" >
        <sequence>
          <element name="adGroupRequests" maxOccurs="unbounded" type="impl:AdGroupRequest" />
          <element name="geoTargeting" minOccurs="0" type="impl:GeoTarget" />
          <element name="id" minOccurs="0" type="xsd:int" />
          <element name="languageTargeting" nillable="true" minOccurs="0" type="impl:LanguageTarget" />
          <element name="networkTargeting" minOccurs="0" type="impl:NetworkTarget" />
        </sequence>
      </complexType>

      <complexType name="Circle" >
        <sequence>
          <element name="latitudeMicroDegrees" type="xsd:int" />
          <element name="longitudeMicroDegrees" type="xsd:int" />
          <element name="radiusMeters" type="xsd:int" />
        </sequence>
      </complexType>

      <complexType name="CityTargets" >
        <sequence>
          <element name="cities" minOccurs="0" maxOccurs="unbounded" type="xsd:string" />
          <element name="excludedCities" minOccurs="0" maxOccurs="unbounded" type="xsd:string" />
        </sequence>
      </complexType>

      <complexType name="CountryTargets" >
        <sequence>
          <element name="countries" minOccurs="0" maxOccurs="unbounded" type="xsd:string" />
          <element name="excludedCountries" minOccurs="0" maxOccurs="unbounded" type="xsd:string" />
        </sequence>
      </complexType>

      <complexType name="GeoTarget" >
        <sequence>
          <element name="cityTargets" minOccurs="0" type="impl:CityTargets" />
          <element name="countryTargets" minOccurs="0" type="impl:CountryTargets" />
          <element name="metroTargets" minOccurs="0" type="impl:MetroTargets" />
          <element name="proximityTargets" minOccurs="0" type="impl:ProximityTargets" />
          <element name="regionTargets" minOccurs="0" type="impl:RegionTargets" />
          <element name="targetAll" type="xsd:boolean" />
        </sequence>
      </complexType>

      <complexType name="KeywordEstimate" >
        <sequence>
          <element name="id" minOccurs="0" type="xsd:long" />
          <element name="lowerAvgPosition" type="xsd:float" />
          <element name="lowerClicksPerDay" type="xsd:float" />
          <element name="lowerCpc" type="xsd:long" />
          <element name="upperAvgPosition" type="xsd:float" />
          <element name="upperClicksPerDay" type="xsd:float" />
          <element name="upperCpc" type="xsd:long" />
        </sequence>
      </complexType>

      <complexType name="KeywordRequest" >
        <sequence>
          <element name="id" minOccurs="0" type="xsd:long" />
          <element name="maxCpc" minOccurs="0" type="xsd:long" />
          <element name="negative" minOccurs="0" type="xsd:boolean" />
          <element name="text" minOccurs="0" type="xsd:string" />
          <element name="type" minOccurs="0" type="impl:KeywordType" />
        </sequence>
      </complexType>

      <simpleType name="KeywordTraffic" >
        <restriction base="xsd:string">
          <enumeration value="HasTraffic"/>
          <enumeration value="VeryLowTraffic"/>
          <enumeration value="Unknown"/>
        </restriction>
      </simpleType>

      <complexType name="KeywordTrafficRequest" >
        <sequence>
          <element name="keywordText" type="xsd:string" />
          <element name="keywordType" type="impl:KeywordType" />
          <element name="language" minOccurs="0" type="xsd:string" />
        </sequence>
      </complexType>

      <simpleType name="KeywordType" >
        <restriction base="xsd:string">
          <enumeration value="Broad"/>
          <enumeration value="Phrase"/>
          <enumeration value="Exact"/>
        </restriction>
      </simpleType>

      <complexType name="LanguageTarget" >
        <sequence>
          <element name="languages" nillable="true" maxOccurs="unbounded" type="xsd:string" />
        </sequence>
      </complexType>

      <complexType name="MetroTargets" >
        <sequence>
          <element name="excludedMetros" minOccurs="0" maxOccurs="unbounded" type="xsd:string" />
          <element name="metros" minOccurs="0" maxOccurs="unbounded" type="xsd:string" />
        </sequence>
      </complexType>

      <complexType name="NetworkTarget" >
        <sequence>
          <element name="networkTypes" minOccurs="0" maxOccurs="unbounded" type="impl:NetworkType" />
        </sequence>
      </complexType>

      <simpleType name="NetworkType" >
        <restriction base="xsd:string">
          <enumeration value="GoogleSearch"/>
          <enumeration value="SearchNetwork"/>
          <enumeration value="ContentNetwork"/>
        </restriction>
      </simpleType>

      <complexType name="ProximityTargets" >
        <sequence>
          <element name="circles" maxOccurs="unbounded" type="impl:Circle" />
        </sequence>
      </complexType>

      <complexType name="RegionTargets" >
        <sequence>
          <element name="excludedRegions" minOccurs="0" maxOccurs="unbounded" type="xsd:string" />
          <element name="regions" minOccurs="0" maxOccurs="unbounded" type="xsd:string" />
        </sequence>
      </complexType>

      <element name="applicationToken">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="checkKeywordTraffic">
        <complexType>
          <sequence>
            <element name="requests" maxOccurs="unbounded" type="impl:KeywordTrafficRequest" />
          </sequence>
        </complexType>
      </element>

      <element name="checkKeywordTrafficResponse">
        <complexType>
          <sequence>
            <element name="checkKeywordTrafficReturn" maxOccurs="unbounded" type="impl:KeywordTraffic" />
          </sequence>
        </complexType>
      </element>

      <element name="clientCustomerId">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="clientEmail">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="developerToken">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="email">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="estimateAdGroupList">
        <complexType>
          <sequence>
            <element name="adGroupRequests" maxOccurs="unbounded" type="impl:AdGroupRequest" />
          </sequence>
        </complexType>
      </element>

      <element name="estimateAdGroupListResponse">
        <complexType>
          <sequence>
            <element name="estimateAdGroupListReturn" maxOccurs="unbounded" type="impl:AdGroupEstimate" />
          </sequence>
        </complexType>
      </element>

      <element name="estimateCampaignList">
        <complexType>
          <sequence>
            <element name="campaignRequests" maxOccurs="unbounded" type="impl:CampaignRequest" />
          </sequence>
        </complexType>
      </element>

      <element name="estimateCampaignListResponse">
        <complexType>
          <sequence>
            <element name="estimateCampaignListReturn" maxOccurs="unbounded" type="impl:CampaignEstimate" />
          </sequence>
        </complexType>
      </element>

      <element name="estimateKeywordList">
        <complexType>
          <sequence>
            <element name="keywordRequests" maxOccurs="unbounded" type="impl:KeywordRequest" />
          </sequence>
        </complexType>
      </element>

      <element name="estimateKeywordListResponse">
        <complexType>
          <sequence>
            <element name="estimateKeywordListReturn" maxOccurs="unbounded" type="impl:KeywordEstimate" />
          </sequence>
        </complexType>
      </element>

      <element name="fault" type="impl:ApiException" />

      <element name="operations">
        <simpleType>
          <restriction base="xsd:long" />
        </simpleType>
      </element>

      <element name="password">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="requestId">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

      <element name="responseTime">
        <simpleType>
          <restriction base="xsd:long" />
        </simpleType>
      </element>

      <element name="units">
        <simpleType>
          <restriction base="xsd:long" />
        </simpleType>
      </element>

      <element name="useragent">
        <simpleType>
          <restriction base="xsd:string" />
        </simpleType>
      </element>

    </schema>
  </wsdl:types>

  <wsdl:message name="ApiException">
    <wsdl:part element="impl:fault" name="fault"/>
  </wsdl:message>

  <wsdl:message name="applicationToken">
    <wsdl:part element="impl:applicationToken" name="applicationToken"/>
  </wsdl:message>

  <wsdl:message name="checkKeywordTrafficRequest">
    <wsdl:part element="impl:checkKeywordTraffic" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="checkKeywordTrafficResponse">
    <wsdl:part element="impl:checkKeywordTrafficResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="clientCustomerId">
    <wsdl:part element="impl:clientCustomerId" name="clientCustomerId"/>
  </wsdl:message>

  <wsdl:message name="clientEmail">
    <wsdl:part element="impl:clientEmail" name="clientEmail"/>
  </wsdl:message>

  <wsdl:message name="developerToken">
    <wsdl:part element="impl:developerToken" name="developerToken"/>
  </wsdl:message>

  <wsdl:message name="email">
    <wsdl:part element="impl:email" name="email"/>
  </wsdl:message>

  <wsdl:message name="estimateAdGroupListRequest">
    <wsdl:part element="impl:estimateAdGroupList" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="estimateAdGroupListResponse">
    <wsdl:part element="impl:estimateAdGroupListResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="estimateCampaignListRequest">
    <wsdl:part element="impl:estimateCampaignList" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="estimateCampaignListResponse">
    <wsdl:part element="impl:estimateCampaignListResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="estimateKeywordListRequest">
    <wsdl:part element="impl:estimateKeywordList" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="estimateKeywordListResponse">
    <wsdl:part element="impl:estimateKeywordListResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:message name="operations">
    <wsdl:part element="impl:operations" name="operations"/>
  </wsdl:message>

  <wsdl:message name="password">
    <wsdl:part element="impl:password" name="password"/>
  </wsdl:message>

  <wsdl:message name="requestId">
    <wsdl:part element="impl:requestId" name="requestId"/>
  </wsdl:message>

  <wsdl:message name="responseTime">
    <wsdl:part element="impl:responseTime" name="responseTime"/>
  </wsdl:message>

  <wsdl:message name="units">
    <wsdl:part element="impl:units" name="units"/>
  </wsdl:message>

  <wsdl:message name="useragent">
    <wsdl:part element="impl:useragent" name="useragent"/>
  </wsdl:message>

  <wsdl:portType name="TrafficEstimatorInterface">
    <wsdl:operation name="checkKeywordTraffic">
      <wsdl:input  message="impl:checkKeywordTrafficRequest" name="checkKeywordTrafficRequest" />
      <wsdl:output message="impl:checkKeywordTrafficResponse" name="checkKeywordTrafficResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="estimateAdGroupList">
      <wsdl:input  message="impl:estimateAdGroupListRequest" name="estimateAdGroupListRequest" />
      <wsdl:output message="impl:estimateAdGroupListResponse" name="estimateAdGroupListResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="estimateCampaignList">
      <wsdl:input  message="impl:estimateCampaignListRequest" name="estimateCampaignListRequest" />
      <wsdl:output message="impl:estimateCampaignListResponse" name="estimateCampaignListResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

    <wsdl:operation name="estimateKeywordList">
      <wsdl:input  message="impl:estimateKeywordListRequest" name="estimateKeywordListRequest" />
      <wsdl:output message="impl:estimateKeywordListResponse" name="estimateKeywordListResponse" />
      <wsdl:fault  message="impl:ApiException"  name="ApiException"/>
    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="TrafficEstimatorServiceSoapBinding" type="impl:TrafficEstimatorInterface">
  <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="checkKeywordTraffic">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="checkKeywordTrafficRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="checkKeywordTrafficResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="estimateAdGroupList">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="estimateAdGroupListRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="estimateAdGroupListResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="estimateCampaignList">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="estimateCampaignListRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="estimateCampaignListResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="estimateKeywordList">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="estimateKeywordListRequest">
        <wsdlsoap:header message="impl:useragent" part="useragent" use="literal"/>
        <wsdlsoap:header message="impl:password" part="password" use="literal"/>
        <wsdlsoap:header message="impl:email" part="email" use="literal"/>
        <wsdlsoap:header message="impl:clientEmail" part="clientEmail" use="literal"/>
        <wsdlsoap:header message="impl:clientCustomerId" part="clientCustomerId" use="literal"/>
        <wsdlsoap:header message="impl:developerToken" part="developerToken" use="literal"/>
        <wsdlsoap:header message="impl:applicationToken" part="applicationToken" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="estimateKeywordListResponse">
        <wsdlsoap:header message="impl:responseTime" part="responseTime" use="literal"/>
        <wsdlsoap:header message="impl:operations" part="operations" use="literal"/>
        <wsdlsoap:header message="impl:units" part="units" use="literal"/>
        <wsdlsoap:header message="impl:requestId" part="requestId" use="literal"/>
       <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="TrafficEstimatorService">
    <wsdl:port binding="impl:TrafficEstimatorServiceSoapBinding" name="TrafficEstimatorService">
      <wsdlsoap:address location="https://adwords.google.com/api/adwords/v13/TrafficEstimatorService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
