tests/support/ServicedAccountService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated file, do not edit -->
<!-- Copyright 2011 Google Inc. All Rights Reserved -->
<wsdl:definitions
  targetNamespace="https://adwords.google.com/api/adwords/mcm/v201101"
  xmlns:tns="https://adwords.google.com/api/adwords/mcm/v201101"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema elementFormDefault="qualified" jaxb:version="1.0"
      targetNamespace="https://adwords.google.com/api/adwords/cm/v201101"
      xmlns="http://www.w3.org/2001/XMLSchema"
      xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:tns="https://adwords.google.com/api/adwords/cm/v201101">
      <complexType name="AuthenticationError">
        <annotation>
          <documentation>
            Errors returned when Authentication failed.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:AuthenticationError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="AuthorizationError">
        <annotation>
          <documentation>
            Errors that are thrown due to an authorization problem.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:AuthorizationError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ClientTermsError">
        <annotation>
          <documentation>
            Encapsulates the errors thrown during client terms checks for adwords.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:ClientTermsError.Reason"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="InternalApiError">
        <annotation>
          <documentation>
            Indicates that a server-side error has occured. {@code InternalApiError}s
            are generally not the result of an invalid request or message sent by the
            client.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:InternalApiError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="NotWhitelistedError">
        <annotation>
          <documentation>
            Indicates that the customer is not whitelisted for accessing the API.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:NotWhitelistedError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="OperatorError">
        <annotation>
          <documentation>
            A list of all errors associated with the @SupportedOperators constraints.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:OperatorError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="QuotaCheckError">
        <annotation>
          <documentation>
            Encapsulates the errors thrown during developer quota checks.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:QuotaCheckError.Reason"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="RateExceededError">
        <annotation>
          <documentation>
            Signals that a call failed because a measured rate exceeded.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:RateExceededError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
              <element maxOccurs="1" minOccurs="0" name="rateName" type="xsd:string">
                <annotation>
                  <documentation>
                    Cause of the rate exceeded error.
                  </documentation>
                </annotation>
              </element>
              <element maxOccurs="1" minOccurs="0" name="rateScope" type="xsd:string">
                <annotation>
                  <documentation>
                    The scope of the rate (ACCOUNT/DEVELOPER).
                  </documentation>
                </annotation>
              </element>
              <element maxOccurs="1" minOccurs="0"
                name="retryAfterSeconds" type="xsd:int">
                <annotation>
                  <documentation>
                    The amount of time (in seconds) the client should wait before retrying the request.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="RequestError">
        <annotation>
          <documentation>
            Encapsulates the generic errors thrown when there's an error with user
            request.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:RequestError.Reason"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="RequiredError">
        <annotation>
          <documentation>
            Errors due to missing required field.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:RequiredError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="SizeLimitError">
        <annotation>
          <documentation>
            Indicates that the number of entries in the request or response exceeds the system limit.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:SizeLimitError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="SoapHeader">
        <annotation>
          <documentation>
            Defines the required and optional elements within the header of a SOAP request.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="authToken" type="xsd:string">
            <annotation>
              <documentation>
                Authentication token from Google ClientLogin API. Developers need to authenticate themselves
                with that API before they can send a request to AdWords API. This header identifies either the
                MCC manager acting on behalf of their client, or the advertiser managing their own account.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="clientCustomerId" type="xsd:string">
            <annotation>
              <documentation>
                Optional header: the customer id of the client of the MCC manager. Applicable only
                if an MCC manager, as identified by authToken, is acting on behalf of their client.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="clientEmail" type="xsd:string">
            <annotation>
              <documentation>
                Optional header: the login email of a client of the MCC manager. Applicable only
                if an MCC manager, as identified by authToken, is acting on behalf of their client.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="developerToken" type="xsd:string">
            <annotation>
              <documentation>
                Developer token to identify that the person making the call has enough
                quota.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="userAgent" type="xsd:string">
            <annotation>
              <documentation>
                UserAgent is used to track distribution of API client programs and
                application usage. The client is responsible for putting in a meaningful
                value for tracking purposes. To be clear this is not the same as an HTTP
                user agent.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="validateOnly" type="xsd:boolean">
            <annotation>
              <documentation>
                Used to validate the request without executing it.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="partialFailure" type="xsd:boolean">
            <annotation>
              <documentation>
                If true, API will try to commit as many error free operations as possible and
                report the other operations' errors.
                
                &lt;p&gt;Ignored for non-mutate calls.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="SoapResponseHeader">
        <annotation>
          <documentation>
            Defines the elements within the header of a SOAP response.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="requestId" type="xsd:string">
            <annotation>
              <documentation>
                Unique id that identifies this request. If developers have any support issues, sending us
                this id will enable us to find their request more easily.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="operations" type="xsd:long">
            <annotation>
              <documentation>
                Number of operations performed for this SOAP request.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="responseTime" type="xsd:long">
            <annotation>
              <documentation>
                Elapsed time in milliseconds between the AdWords API receiving the request and sending the
                response.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="units" type="xsd:long">
            <annotation>
              <documentation>
                Total number of API units the SOAP request used.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="DatabaseError">
        <annotation>
          <documentation>
            Errors that are thrown due to a database access problem.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:DatabaseError.Reason">
                <annotation>
                  <documentation>
                    The error reason represented by an enum.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType abstract="true" name="ApiError">
        <annotation>
          <documentation>
            The API error base class that provides details about an error that occurred
            while processing a service request.
            
            &lt;p&gt;The OGNL field path is provided for parsers to identify the request data
            element that may have caused the error.&lt;/p&gt;
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="fieldPath" type="xsd:string">
            <annotation>
              <documentation>
                The OGNL field path to identify cause of error.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="trigger" type="xsd:string">
            <annotation>
              <documentation>
                The data that caused the error.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="errorString" type="xsd:string">
            <annotation>
              <documentation>
                A simple string representation of the error and reason.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="ApiError.Type" type="xsd:string">
            <annotation>
              <documentation>
                Indicates that this instance is a subtype of ApiError.
                Although this field is returned in the response, it is ignored on input
                and cannot be selected. Specify xsi:type instead.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="ApiException">
        <annotation>
          <documentation>
            Exception class for holding a list of service errors.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="tns:ApplicationException">
            <sequence>
              <element maxOccurs="unbounded" minOccurs="0" name="errors" type="tns:ApiError">
                <annotation>
                  <documentation>
                    List of errors.
                  </documentation>
                </annotation>
              </element>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="ApplicationException">
        <annotation>
          <documentation>
            Base class for exceptions.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="message" type="xsd:string">
            <annotation>
              <documentation>
                Error message.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0"
            name="ApplicationException.Type" type="xsd:string">
            <annotation>
              <documentation>
                Indicates that this instance is a subtype of ApplicationException.
                Although this field is returned in the response, it is ignored on input
                and cannot be selected. Specify xsi:type instead.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <simpleType name="AuthenticationError.Reason">
        <annotation>
          <documentation>
            The single reason for the authentication failure.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="AUTHENTICATION_FAILED">
            <annotation>
              <documentation>
                Authentication of the request failed.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CLIENT_CUSTOMER_ID_IS_REQUIRED">
            <annotation>
              <documentation>
                Client Customer Id is required if CustomerIdMode is set to CLIENT_EXTERNAL_CUSTOMER_ID.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CLIENT_EMAIL_REQUIRED">
            <annotation>
              <documentation>
                Client Email is required if CustomerIdMode is set to CLIENT_EXTERNAL_EMAIL_FIELD.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CLIENT_CUSTOMER_ID_INVALID">
            <annotation>
              <documentation>
                Client customer Id is not a number.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CLIENT_EMAIL_INVALID">
            <annotation>
              <documentation>
                Client customer Id is not a number.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CLIENT_EMAIL_FAILED_TO_AUTHENTICATE">
            <annotation>
              <documentation>
                Client email is not a valid customer email.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CUSTOMER_NOT_FOUND">
            <annotation>
              <documentation>
                No customer found for the customer id provided in the header.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="GOOGLE_ACCOUNT_DELETED">
            <annotation>
              <documentation>
                Client's Google Account is deleted.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="GOOGLE_ACCOUNT_COOKIE_INVALID">
            <annotation>
              <documentation>
                Google account login token in the cookie is invalid.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="FAILED_TO_AUTHENTICATE_GOOGLE_ACCOUNT">
            <annotation>
              <documentation>
                problem occurred during Google account authentication.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="GOOGLE_ACCOUNT_USER_AND_ADS_USER_MISMATCH">
            <annotation>
              <documentation>
                The user in the google account login token does not match the UserId in the cookie.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="LOGIN_COOKIE_REQUIRED">
            <annotation>
              <documentation>
                Login cookie is required for authentication.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="NOT_ADS_USER">
            <annotation>
              <documentation>
                User in the cookie is not a valid Ads user.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="OAUTH_TOKEN_INVALID">
            <annotation>
              <documentation>
                Oauth token in the header is not valid.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="OAUTH_TOKEN_EXPIRED">
            <annotation>
              <documentation>
                Oauth token in the header has expired.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="OAUTH_TOKEN_DISABLED">
            <annotation>
              <documentation>
                Oauth token in the header has been disabled.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="OAUTH_TOKEN_REVOKED">
            <annotation>
              <documentation>
                Oauth token in the header has been revoked.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="OAUTH_TOKEN_HEADER_INVALID">
            <annotation>
              <documentation>
                Oauth token HTTP header is malformed.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="LOGIN_COOKIE_INVALID">
            <annotation>
              <documentation>
                Login cookie is not valid.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="FAILED_TO_RETRIEVE_LOGIN_COOKIE">
            <annotation>
              <documentation>
                Failed to decrypt the login cookie.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="USER_ID_INVALID">
            <annotation>
              <documentation>
                User Id in the header is not a valid id.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="AuthorizationError.Reason">
        <annotation>
          <documentation>
            The reasons for the database error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="UNABLE_TO_AUTHORIZE">
            <annotation>
              <documentation>
                Could not complete authorization due to an internal problem.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="NO_ADWORDS_ACCOUNT_FOR_CUSTOMER">
            <annotation>
              <documentation>
                Customer has no AdWords account.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="USER_PERMISSION_DENIED">
            <annotation>
              <documentation>
                User doesn't have permission to access customer.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="EFFECTIVE_USER_PERMISSION_DENIED">
            <annotation>
              <documentation>
                Effective user doesn't have permission to access this customer.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="USER_HAS_READONLY_PERMISSION">
            <annotation>
              <documentation>
                User has read-only permission cannot mutate.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="NO_CUSTOMER_FOUND">
            <annotation>
              <documentation>
                No customer found.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="ClientTermsError.Reason">
        <annotation>
          <documentation>
            Enums for the various reasons an error can be thrown as a result of
            ClientTerms violation.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="INCOMPLETE_SIGNUP_CURRENT_ADWORDS_TNC_NOT_AGREED">
            <annotation>
              <documentation>
                Customer has not agreed to the latest adwords t&amp;c
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="DatabaseError.Reason">
        <annotation>
          <documentation>
            The reasons for the database error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="CONCURRENT_MODIFICATION">
            <annotation>
              <documentation>
                A concurrency problem occurred as two threads were attempting to modify same object.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="PERMISSION_DENIED">
            <annotation>
              <documentation>
                The permission was denied to access an object.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="CAMPAIGN_PRODUCT_NOT_SUPPORTED">
            <annotation>
              <documentation>
                Requested campaign belongs to a product that is not supported by the api.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="DUPLICATE_KEY">
            <annotation>
              <documentation>
                a duplicate key was detected upon insertion
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="DATABASE_ERROR">
            <annotation>
              <documentation>
                a database error has occurred
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                an unknown error has occurred
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="InternalApiError.Reason">
        <annotation>
          <documentation>
            The single reason for the internal API error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="UNEXPECTED_INTERNAL_API_ERROR">
            <annotation>
              <documentation>
                API encountered an unexpected internal error.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                The cause of the error is not known or only defined in newer versions.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="NotWhitelistedError.Reason">
        <annotation>
          <documentation>
            The single reason for the whitelist error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="CUSTOMER_NOT_WHITELISTED_FOR_API">
            <annotation>
              <documentation>
                Customer is not whitelisted for accessing the API.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="OperatorError.Reason">
        <annotation>
          <documentation>
            The reasons for the validation error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="OPERATOR_NOT_SUPPORTED"/>
        </restriction>
      </simpleType>
      <simpleType name="QuotaCheckError.Reason">
        <annotation>
          <documentation>
            Enums for all the reasons an error can be thrown to the user during
            billing quota checks.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="INVALID_TOKEN_HEADER">
            <annotation>
              <documentation>
                Customer passed in an invalid token in the header.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="ACCOUNT_DELINQUENT">
            <annotation>
              <documentation>
                Customer is marked delinquent.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="ACCOUNT_INACCESSIBLE">
            <annotation>
              <documentation>
                Customer is a fraudulent.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="ACCOUNT_INACTIVE">
            <annotation>
              <documentation>
                Inactive Account.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INCOMPLETE_SIGNUP">
            <annotation>
              <documentation>
                Signup not complete
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INCOMPLETE_SIGNUP_LATEST_ADWORDS_API_TNC_NOT_AGREED">
            <annotation>
              <documentation>
                Latest AdWords API T&amp;C not agreed.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INCOMPLETE_SIGNUP_NO_BILLING_INFO">
            <annotation>
              <documentation>
                No Billing Info.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INCOMPLETE_SIGNUP_USER_INFO_MISSING">
            <annotation>
              <documentation>
                User Info missing.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INCOMPLETE_SIGNUP_USER_INFO_PENDING">
            <annotation>
              <documentation>
                User Info pending.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INCOMPLETE_SIGNUP_USER_INFO_REJECTED">
            <annotation>
              <documentation>
                User Info rejected.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="MONTHLY_BUDGET_REACHED">
            <annotation>
              <documentation>
                Monthly budget quota reached.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="QUOTA_EXCEEDED">
            <annotation>
              <documentation>
                Monthly budget quota exceeded.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="RateExceededError.Reason">
        <annotation>
          <documentation>
            The reason for the rate exceeded error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="RATE_EXCEEDED">
            <annotation>
              <documentation>
                Rate exceeded.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="RequestError.Reason">
        <restriction base="xsd:string">
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                Error reason is unknown.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INVALID_INPUT">
            <annotation>
              <documentation>
                Invalid input.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="RequiredError.Reason">
        <annotation>
          <documentation>
            The reasons for the target error.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="REQUIRED">
            <annotation>
              <documentation>
                Missing required field.
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
      <simpleType name="SizeLimitError.Reason">
        <annotation>
          <documentation>
            The reasons for Ad Scheduling errors.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="REQUEST_SIZE_LIMIT_EXCEEDED">
            <annotation>
              <documentation>
                The number of entries in the request exceeds the system limit.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="RESPONSE_SIZE_LIMIT_EXCEEDED">
            <annotation>
              <documentation>
                The number of entries in the response exceeds the system limit.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN">
            <annotation>
              <documentation>
                &lt;span class="constraint Rejected"&gt;Used for return value only. An enumeration could not be processed, typically due to incompatibility with your WSDL version.&lt;/span&gt;
              </documentation>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>
    </schema>
    <schema elementFormDefault="qualified" jaxb:version="1.0"
      targetNamespace="https://adwords.google.com/api/adwords/mcm/v201101"
      xmlns="http://www.w3.org/2001/XMLSchema"
      xmlns:cm="https://adwords.google.com/api/adwords/cm/v201101"
      xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:tns="https://adwords.google.com/api/adwords/mcm/v201101">
      <xsd:import namespace="https://adwords.google.com/api/adwords/cm/v201101"/>
      <annotation>
        <appinfo>
          <jaxb:globalBindings typesafeEnumMaxMembers="999999"/>
        </appinfo>
      </annotation>
      <complexType name="Account">
        <annotation>
          <documentation>
            Represents a single AdWords account.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="customerId" type="xsd:long">
            <annotation>
              <documentation>
                The 10-digit ID that uniquely identifies the AdWords account.
                &lt;span class="constraint ReadOnly"&gt;This field is read only and should not be set for following {@link Operator}s : ADD.  If this field is sent to the API, it will be ignored.&lt;/span&gt;
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="login" type="xsd:string">
            <annotation>
              <documentation>
                The email address of the account's first login user, if any.
                &lt;span class="constraint ReadOnly"&gt;This field is read only and should not be set for following {@link Operator}s : ADD.  If this field is sent to the API, it will be ignored.&lt;/span&gt;
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="companyName" type="xsd:string">
            <annotation>
              <documentation>
                The company name of the account, if any.
                &lt;span class="constraint ReadOnly"&gt;This field is read only and should not be set for following {@link Operator}s : ADD.  If this field is sent to the API, it will be ignored.&lt;/span&gt;
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="canManageClients" type="xsd:boolean">
            <annotation>
              <documentation>
                Whether this account can manage clients.
                &lt;span class="constraint ReadOnly"&gt;This field is read only and should not be set for following {@link Operator}s : ADD.  If this field is sent to the API, it will be ignored.&lt;/span&gt;
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="currencyCode" type="xsd:string">
            <annotation>
              <documentation>
                The currency in which this account operates.
                We support a subset of the currency codes derived from the ISO 4217 standard.
                See &lt;a href="http://code.google.com/apis/adwords/docs/developer/adwords_api_currency.html"
                &gt;Currency Codes&lt;/a&gt; for the currently supported currencies.
                &lt;p&gt;
                This field can only be set during creation of the account.
                &lt;p&gt;
                This field is not provided by {@link ServicedAccountService}.
                &lt;span class="constraint Required"&gt;This field is required and should not be {@code null} when it is contained within {@link Operator}s : ADD.&lt;/span&gt;
                &lt;span class="constraint StringLength"&gt;The length of this string should be between 3 and 3, inclusive.&lt;/span&gt;
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="dateTimeZone" type="xsd:string">
            <annotation>
              <documentation>
                The local timezone ID for this Account.
                See &lt;a href="http://code.google.com/apis/adwords/docs/developer/adwords_api_timezones.html"
                &gt;Time Zone Codes&lt;/a&gt; for the currently supported list.
                &lt;p&gt;
                This field can only be set during creation of the account.
                &lt;p&gt;
                This field is not provided by {@link ServicedAccountService}.
                &lt;span class="constraint Required"&gt;This field is required and should not be {@code null} when it is contained within {@link Operator}s : ADD.&lt;/span&gt;
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="CustomerId">
        <annotation>
          <documentation>
            The 10-digit ID for identifying an AdWords account.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="id" type="xsd:long"/>
        </sequence>
      </complexType>
      <complexType name="ServicedAccountError">
        <annotation>
          <documentation>
            Errors that can occur when contacting {@link ServicedAccountService}.
          </documentation>
        </annotation>
        <complexContent>
          <extension base="cm:ApiError">
            <sequence>
              <element maxOccurs="1" minOccurs="0" name="reason" type="tns:ServicedAccountError.Reason"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="Link">
        <annotation>
          <documentation>
            Represents an AdWords manager-client link.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="managerId" type="tns:CustomerId">
            <annotation>
              <documentation>
                The ID of the manager represented in ths link.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="clientId" type="tns:CustomerId">
            <annotation>
              <documentation>
                The ID of the client represented in this link.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="serviceType" type="tns:ServiceType">
            <annotation>
              <documentation>
                The service level of this link.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="typeOfLink" type="tns:LinkType">
            <annotation>
              <documentation>
                Whether the link has been established.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="descriptiveName" type="xsd:string">
            <annotation>
              <documentation>
                The descriptive name used by the manager to refer to the client.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="Link.Type" type="xsd:string">
            <annotation>
              <documentation>
                Indicates that this instance is a subtype of Link.
                Although this field is returned in the response, it is ignored on input
                and cannot be selected. Specify xsi:type instead.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="ServicedAccountSelector">
        <annotation>
          <documentation>
            Selector for querying the ServicedAccount graph.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0"
            name="customerIds" type="xsd:long">
            <annotation>
              <documentation>
                If nonempty, only customers (recursively) managed by these "seeds" will be returned.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="enablePaging" type="xsd:boolean">
            <annotation>
              <documentation>
                Whether to treat the results as a flat list instead of a graph of links.
                If false, paging options will be ignored.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0"
            name="serviceTypes" type="tns:ServiceType">
            <annotation>
              <documentation>
                The link service levels to consider during the query.
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="1" minOccurs="0" name="submanagersOnly" type="xsd:boolean">
            <annotation>
              <documentation>
                Whether the result should only return accounts that themselves can manage clients.
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="ServicedAccountGraph">
        <annotation>
          <documentation>
            Represents a list of the requested managers and clients, and the relationships between them.
          </documentation>
        </annotation>
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="accounts" type="tns:Account">
            <annotation>
              <documentation>
                The accounts found that match the selector query
              </documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="links" type="tns:Link">
            <annotation>
              <documentation>
                The manager links between the listed accounts
              </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <simpleType name="LinkType">
        <annotation>
          <documentation>
            Specifies whether the manager has an active relationship with the
            client or if there is only an invitation awaiting acceptance.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="ESTABLISHED">
            <annotation>
              <documentation>
                The manager has been granted permission to control the managed account.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="INVITATION">
            <annotation>
              <documentation>
                Represents an invitation to link that one of the accounts hasn't yet accepted.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN"/>
        </restriction>
      </simpleType>
      <simpleType name="ServiceType">
        <annotation>
          <documentation>
            ServiceType represents the account access level defined for a particular manager-to-client link.
            Note: this concept is deprecated.
          </documentation>
        </annotation>
        <restriction base="xsd:string">
          <enumeration value="UI_AND_API">
            <annotation>
              <documentation>
                The manager can use either AdWords API or the My Client Center interface.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="API_ONLY">
            <annotation>
              <documentation>
                Originally, the manager could only access the managed account via the AdWords API.
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN"/>
        </restriction>
      </simpleType>
      <simpleType name="ServicedAccountError.Reason">
        <restriction base="xsd:string">
          <enumeration value="BAD_IDS">
            <annotation>
              <documentation>
                Improper IDs were specified in the request
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="NOT_AUTHORIZED">
            <annotation>
              <documentation>
                The user is not allowed to query one or more of the specified accounts
              </documentation>
            </annotation>
          </enumeration>
          <enumeration value="UNKNOWN"/>
        </restriction>
      </simpleType>
      <element name="get">
        <annotation>
          <documentation>
            Returns a representation of the managed-account relationships related to this account.
            
            @param selector determines which accounts and links to retrieve
            @return the selected list of accounts and serviced account links between them
            @throws ApiException if an error occurs
          </documentation>
        </annotation>
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="selector" type="tns:ServicedAccountSelector">
              <annotation>
                <documentation>
                  &lt;span class="constraint Required"&gt;This field is required and should not be {@code null}.&lt;/span&gt;
                </documentation>
              </annotation>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="getResponse">
        <complexType>
          <sequence>
            <element maxOccurs="1" minOccurs="0" name="rval" type="tns:ServicedAccountGraph"/>
          </sequence>
        </complexType>
      </element>
      <element name="ApiExceptionFault" type="cm:ApiException">
        <annotation>
          <documentation>
            A fault element of type ApiException.
          </documentation>
        </annotation>
      </element>
      <element name="RequestHeader" type="cm:SoapHeader"/>
      <element name="ResponseHeader" type="cm:SoapResponseHeader"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="RequestHeader">
    <wsdl:part element="tns:RequestHeader" name="RequestHeader"/>
  </wsdl:message>
  <wsdl:message name="ResponseHeader">
    <wsdl:part element="tns:ResponseHeader" name="ResponseHeader"/>
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part element="tns:get" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part element="tns:getResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="ApiException">
    <wsdl:part element="tns:ApiExceptionFault" name="ApiException"/>
  </wsdl:message>
  <wsdl:portType name="ServicedAccountServiceInterface">
    <wsdl:documentation>
      Use this service to retrieve accounts managed (directly or indirectly) by
      your MCC account. The returned {@linkplain ServicedAccountGraph serviced
      account graph} contains a list of all managed accounts
      and a list of links, where each {@linkplain Link link} describes the
      relationship between two accounts.
    </wsdl:documentation>
    <wsdl:operation name="get">
      <wsdl:documentation>
        Returns a representation of the managed-account relationships related to this account.
        
        @param selector determines which accounts and links to retrieve
        @return the selected list of accounts and serviced account links between them
        @throws ApiException if an error occurs
      </wsdl:documentation>
      <wsdl:input message="tns:getRequest" name="getRequest"/>
      <wsdl:output message="tns:getResponse" name="getResponse"/>
      <wsdl:fault message="tns:ApiException" name="ApiException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicedAccountServiceSoapBinding" type="tns:ServicedAccountServiceInterface">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="get">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getRequest">
        <wsdlsoap:header message="tns:RequestHeader"
          part="RequestHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getResponse">
        <wsdlsoap:header message="tns:ResponseHeader"
          part="ResponseHeader" use="literal"/>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ApiException">
        <wsdlsoap:fault name="ApiException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicedAccountService">
    <wsdl:port binding="tns:ServicedAccountServiceSoapBinding" name="ServicedAccountServiceInterfacePort">
      <wsdlsoap:address location="https://adwords-sandbox.google.com/api/adwords/mcm/v201101/ServicedAccountService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
